/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
    --clr-primary: 196 90% 50%;
    --clr-secondary: 347 66% 79%;
    --clr-secondary-dark: 347 66% 59%;
    --clr-accent: 40 100% 50%;
}

/* ------------------- */
/* Resets              */
/* ------------------- */

*, *::before, *::after {
    box-sizing: border-box;
}

.no-overflow {
    overflow-x: hidden;
}

body, h1, h2, h3, h4, h5, p, img {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

h1, h2, h3, h4, h5, p {
    text-align: center;
}

@media (min-width: 600px) {
    h1, h2, h3, h4, h5, p {
        text-align: unset;
    }
}

h1 {
    font-size: 2.2em;
    font-weight: 500;
    text-transform: uppercase;
}

@media (min-width: 500px) {
    h1 {
        font-size: 1.9em;
    }
}

@media (min-width: 750px) {
    h1 {
        font-size: 2.5em;
        min-width: 300px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3.8em;
        width: 400px;
    }
}


h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    margin-bottom: 40px;
}


h3 {
    font-size: 1.5em;
    font-weight: 500;
}

@media (min-width: 500px) {
    h3 {
        font-size: 1.4em;
    }
}

@media (min-width: 1200px) {
    h3 {
        font-size: 1.8em;
        width: 400px;
    }
}
    
p {
    font-size: 1.15em;
    line-height: 1.4;
    max-width: 300px;
    margin-inline: auto;
}

@media (min-width: 600px) {
    p {
        margin-inline: unset;
    }
}

@media (min-width:1200px) {
    p {
        max-width: 500px;
        line-height: 1.6;
    }
}

.bold {
    font-weight: bold;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 16px;
}

img {
    display: block;
    width: 100%;
}

/* ------------------- */
/* General             */
/* ------------------- */

.primary {
    background-color: hsl(var(--clr-primary)) !important;
}

.secondary {
    background-color: hsl(var(--clr-secondary)) !important;
}

.layout-container {
    padding: 0 30px;
}

@media (min-width: 750px) {
    .layout-container {
        max-width: 700px;
        margin-inline: auto;
        padding: unset;
    }
}

@media (min-width: 900px) {
    .layout-container {
        max-width: 850px;
        margin-inline: auto;
        padding: unset;
    }
}


@media (min-width: 1200px) {
    .layout-container {
        max-width: 1100px;
    }
}

nav .nav-list,
footer .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 600px) {
    .only-mobile {
        display: none !important;
    }
}

@media (max-width: 599px){
    .no-mobile {
        display: none !important;
    }
}

@media (max-width: 1279px) {
    .only-desktop {
        display: none !important;
    }
}

@media (min-width: 1280px) {
    .no-desktop {
        display: none !important;
    }
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px 20px !important;
    font-family: inherit;
    text-transform: uppercase;
    display: inline-block;
}

.btn-flex {
    display: flex;
    justify-content: center;
}

@media (min-width: 600px) {
    .btn {
        font-size: 1rem !important;
    }

    .btn-flex {
        display: unset;
        justify-content: unset;
    }
}

#home, #contact, #about {
    scroll-margin-top: 76px;
}

@media (min-width: 650px) {
    #home, #contact {
        scroll-margin-top: 94px;
    }
}

.hero, .about, .leader, .orgs, .contact, .pozitiva {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (min-width: 700px) {
    .hero, .about, .leader, .orgs, .contact, .pozitiva {
        padding-top: 60px;
        padding-bottom: 80px;
    }
}


@media (min-width: 700px) {
    .contact h2, .pozitiva h2{
        margin-bottom: 15px;
    }
}

/* ------------------- */
/* Navigation          */
/* ------------------- */

.nav-container {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    background-color: hsl(var(--clr-primary));
    z-index: 1000;
  }
  
.nav-container .nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .social a  {
    margin-left: 15px;
}

.text-logo {
    font-size: 15px;
    color: #000;
}

@media (max-width: 650px) {
    .nav-container .mobile-bars {
        font-size: 25px;
        border: none;
        background-color: hsl(var(--clr-primary));
    }

    .nav-container .mobile-bars i {
        color: #000;
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
        position: absolute;
        top: 72px;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        transition: transform 1s;
        background-color: hsl(var(--clr-primary));
    }

    nav.active .nav-list{
        text-align: left;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    nav.active .nav-list li a {
        display: block;
        font-size: 25px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    nav.active .nav-list li:last-child {
        margin-top: 20px;
    }

    nav.active .social {
        text-align: center;
    }

    nav.active .social a i {
        font-size: 30px;
        
    }

    nav .social a .fa-linkedin {
        margin-left: 30px;
    }
}

@media (min-width: 650px) {
    .nav-container {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .nav-container .mobile-bars {
        display: none;
    }

    nav {
        display: flex;
        gap: 20px;
    }

    nav .nav-list {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-right: 25px;
    }

    nav .nav-list a {
        padding: 5px
    }

    nav .social {
        display: flex;
        align-items: center;
    }

    nav .social a i {
        font-size: 20px;
    }

}

/* ------------------- */
/* Hero                */
/* ------------------- */

.hero {
    background-color: hsl(var(--clr-primary));
    position: relative;
    padding-top: 20px;
}

@media (min-width: 500px) {
    .hero {
        height: calc(100vh - 76px);
        min-height: 375px;
        padding-bottom: 0;
    }
}

.hero .hero-flex {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 500px) {
    .hero .hero-flex {
        flex-direction: row;
        justify-content: space-between;
    }
}

.hero .hero-content {
    z-index: 199;
}

.hero .hero-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hero h1 {
    margin-bottom: 25px;
}

@media (min-width: 500px) {
    .hero .hero-content h1 {
        display: block !important;
    }
}

@media (min-width: 500px) {
    .hero h1.only-mobile {
        display: none;
    }
}

.hero h3 {
    margin-bottom: 20px;
}

@media (min-width: 500px) {
    .hero .hero-content h3 {
        margin-bottom: 40px;
        width: 240px;
    }
}


@media (min-width: 500px) {
    .hero .img-container {
        margin: 0;
    }
}

.hero .hero-img {
    transform: scaleX(-1);
    margin-bottom: 20px;
    min-height: 375px;
    width: 100vw;
    object-fit: cover;
    object-position: top;
    z-index: 200;
    margin-left: -30px;
}

@media (min-width: 500px) {
    .hero .hero-img {
        margin-bottom: 0;
        margin-left: 15px;
        margin-top: -30px;
        object-fit: cover;
        object-position: top right;
    }
}

.hero .triangle {
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-right: 100vw solid white;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 101;
}

@media (min-width: 500px) {
    .hero .triangle {
        border-top: 120px solid transparent;
    }
}

/* ------------------- */
/* About               */
/* ------------------- */

.about {
    background-color: hsl(var(--clr-secondary));
    z-index: 201;
    position: relative;
}

@media (min-width: 600px) {
    .about .about-content {
        display: flex;
        gap: 40px;
    }
}

.about .about-content p {
    margin-bottom: 25px;
}

@media (min-width: 500px) {
    .about .about-content p {
        width: 500px;
    }
}

.about .about-content .about-images img {
    margin-bottom: 20px;
    max-height: 350px;
    object-fit: cover;
    object-position: top;
}

/* ------------------- */
/* Leader               */
/* ------------------- */

.leader {
}

/* ------------------- */
/* Orgs                */
/* ------------------- */

.orgs {
    background-color: hsl(var(--clr-primary));
}

.orgs .grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
}
  
.orgs .grid-container .grid-item {
    width: 100%;
}

.orgs .grid-container .grid-item img {
    max-height: 80px;
    object-fit: contain;
}


@media (max-width: 500px) {
    .orgs .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 500px) {
    .orgs .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.orgs h2 {
    margin-bottom: 40px;
}

/* ------------------- */
/* Contact                */
/* ------------------- */

.contact {
    background-color: hsl(var(--clr-secondary-dark));
}

.contact h2, .contact p {
    color: #fff;
}

.contact .contact-flex {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 600px) {
    .contact .contact-flex {
        flex-direction: row;
        gap: 30px;
    }
}

.contact .contact-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 45%;
    margin-bottom: 30px;
}

@media (min-width: 600px) {
    .contact .contact-img {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .contact .contact-img {
        height: 400px;
    }
}

.contact .contact-content p {
    margin-bottom: 30px;
}

.contact .contact-content .icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media (min-width: 600px) {
    .contact .contact-content .icons {
        justify-content: unset;
    }
}

.contact .contact-content .icons i {
    font-size: 40px;
}

/* ------------------- */
/* Pozitiva                */
/* ------------------- */

.pozitiva {
}

.pozitiva .pozitiva-flex {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 600px) {
    .pozitiva .pozitiva-flex {
        flex-direction: row-reverse;
        gap: 30px;
    }
}

.pozitiva .pozitiva-img {
    margin-bottom: 30px;
}

@media (min-width: 600px) {
    .pozitiva .pozitiva-img {
        max-height: 300px;
        width: 60%;
        object-fit: cover;
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .pozitiva .pozitiva-img {
        max-height: unset;
        width: 60%;
        object-fit: cover;
        margin-bottom: 0;
    }
}

.pozitiva .pozitiva-content p:not(:last-child) {
    margin-bottom: 20px;
}

/* ------------------- */
/* Footer                */
/* ------------------- */

footer {
    background-color: hsl(var(--clr-secondary-dark));
    padding-top: 30px;
    padding-bottom: 40px;
    color: #fff;
}

footer p {
    text-align: center;
}

footer a i {
    font-size: 40px;
}

@media (min-width: 600px) {
    footer a i {
        font-size: 30px;
    }
}

footer .footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

@media (min-width: 600px) {
    footer .footer-flex {
        flex-direction: row;
        justify-content: space-between;
    }
}

footer .footer-contact p {
    margin-bottom: 5px;
}

footer .footer-contact .footer-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer .text-logo {
    color: #fff;
    font-size: 1.2rem;
}

footer .footer-social p{
    margin-bottom: 10px;
}

footer .footer-social .footer-social-icons {
    display: flex;
    gap: 20px;
}